html, body {
    font-family: 'Open Sans', sans-serif;
    color: #666;
    padding: 0;
    margin: 0;
    overflow:auto;
}

.dollar-positive {
    font-size: 8em;
    margin: auto;
    margin-top: 0px;
    color: green
}

.dollar-negative {
    font-size: 8em;
    margin: auto;
    margin-top: 0px;
    color: red
}